<h1>Apples in box</h1>
<div class="box">
    <div class="apple-wrapper" *ngFor="let apple of applesBox" >
        <img src='../../assets/images/apple.png'/>
    </div>
</div>
<div class="btn-wrapper">
    <button class="btn btn-secondary btn-lg" (click)="generateRandomNumberApplesToBox()">Generate new box</button>
    <button class="btn btn-primary btn-lg" [disabled]="results ? true : null" (click)="count()">Count</button>
</div>
<app-results *ngIf="results" [time]="timeCount" [count]="apples"></app-results>
